@import url('../../global.css');

:host {
    --color-bg: #202127;
    --color-bg-hover: #4d4f5d;
    --color-font: #fff;

    display: block;
    background: var(--color-bg);
}

.table-wrapper-hidden {
    width: 100%;
    position: absolute;
    height: 3px;
    background-color: var(--color-bg);
    top: -1px;
    left: 0;
    z-index: 4;
}

.table-wrapper {
    width: 100%;
    position: relative;
    overflow: auto;

    &.scroll-none {
        .fixed-left,
        .fixed-right {
            .fixed-shadow {
                box-shadow: none !important;
            }
        }
    }

    &.scroll-left {
        .fixed-left {
            .fixed-shadow {
                box-shadow: none !important;
            }
        }
    }

    &.scroll-right {
        .fixed-right {
            .fixed-shadow {
                box-shadow: none !important;
            }
        }
    }

    .fixed-left {
        .fixed-shadow {
            content: '';
            width: 3px;
            box-shadow: 4px 0 4px rgb(0 0 0 / 60%);
            // box-shadow: 4px 0 4px #fff;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            transition: all 0.2s ease-in-out;
        }
    }

    .fixed-right {
        .fixed-shadow {
            content: '';
            width: 4px;
            box-shadow: -4px 0 4px rgb(0 0 0 / 60%);
            // box-shadow: -4px 0 4px #fff;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }

    // thead {
    //     .fixed-left,
    //     .fixed-right {
    //         .fixed-shadow {
    //             height: 31px;
    //         }
    //     }
    // }

    // tbody {
    //     .fixed-shadow {
    //         height: 100%;
    //     }

    //     tr:not(:first-child) .fixed-shadow {
    //         height: 100% !important;
    //     }
    // }

    table {
        width: 100%;

        td,
        th {
            white-space: nowrap;
            line-height: 23px;
            font-size: 12px;
            text-align: left;
            height: 23px;
            vertical-align: middle;
            min-width: 84px;
            color: var(--color-font);
            padding: 0 12px;
        }

        thead {
            tr {
                background-color: var(--color-bg);

                &.fixed-top {
                    position: sticky;
                    top: 0;
                    z-index: 3;
                }

                th {
                    padding: 4px 12px;
                    color: var(--color-font);

                    &.fix-right {
                        text-align: left;
                    }
                }
            }
        }

        tbody {
            tr {
                background-color: var(--color-bg);

                &:hover {
                    background-color: var(--color-bg-hover);

                    .fixed-left {
                        background-color: var(--color-bg-hover);
                    }

                    .fixed-right {
                        background-color: var(--color-bg-hover);
                    }
                }

                :deep(td) {
                    padding: 0 12px;
                    height: 40px;
                    line-height: 40px;
                }
            }
        }

        .fixed-left {
            z-index: 1;
            position: sticky;
            left: 0;
            background-color: var(--color-bg);
            min-width: max-content;
        }

        .fixed-right {
            z-index: 1;
            position: sticky;
            right: 0;
            background-color: var(--color-bg);
            min-width: max-content;
        }

        :deep(td.expand-td) {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 0;

            .table-wrapper-hidden {
                display: none;
            }

            .table-wrapper {
                position: relative;
                z-index: 2;
            }

            thead th {
                padding-top: 12px;
            }

            tbody tr:last-child {
                td {
                    padding-bottom: 12px;
                }
            }

            td,
            th {
                background-color:var(--color-bg);

                &:first-child {
                    padding-left: 36px;
                }
            }
        }
    }
}